body {
  color: var(--clr-white);
  background-color: var(--clr-grey);
  text-align: center;
}

a {
  color: var(--clr-light-blue);
}

main {
  margin-top: 10em;
}

footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--clr-dark-grey);
}
